@{
    ViewData["Title"] = "Home Page";
}

<section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
        <h1>Bem Vindo ao TicketEagle</h1>
        <h2>Melhor website para comprar todo o tipo de bilhetes</h2>
        <a asp-area="" asp-controller="Eventos" asp-action="Index" class="btn-get-started scrollto">Começar</a>
    </div>
</section><!-- End Hero -->